URxvt.font: xft:Hack:size=10
URxvt.scrollBar: false
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.internalBorder: 20
URxvt.cursorBlink: true
URxvt.cursorUnderline: false

! special
*.foreground:   #D8DEE9
*.background:   #252733
*.cursorColor:  #c5c8c6

! black
*.color0:       #72757c
*.color8:       #90969e

! red
*.color1:       #ef6060
*.color9:       #fb5858

! green
*.color2:       #5192d9
*.color10:      #379bdd

! yellow
*.color3:       #d9aa1a
*.color11:      #e6a800

! blue
*.color4:       #28ca70
*.color12:      #12c177

! magenta
*.color5:       #ed4b84
*.color13:      #e42f6e

! cyan
*.color6:       #759F7B
*.color14:      #498159

! white
*.color7:       #aeb5bd
*.color15:      #c6cdc8
